* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contenedor-lista-{
    padding: 2rem;
}
.contenedor-producto, .titulos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: start;
    text-align: center;
    justify-items: center;

}

.contenedor-producto h2{
    font-size: 1rem;
}



.titulos p {
    border: solid;
    height: 100%;
    width: 100%;
}

.contenedor-items{
    border: solid;
}

.create form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    text-align: center;
    justify-items: center;
}

.btn-agregar-carrito{
    padding: 0;
    width: 85%;
    font-size: 0.9rem;
    margin-bottom: 0;
}